<% provide(:title, "Top") %>
<div class="center jumbotron">
  <h1>勤怠システム</h1>
    <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary" %>
    <div class="center btn-login">
      <p2>
        ユーザー登録がまだの場合は<%= link_to "こちら", signup_path, class: "center" %>
      </p2>
    </div>
</div>